<div class="clearfix container m-t-50">
    <div class="pull-left col-xs-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{article.title}}</h3>
            </div>
            <div class="panel-body">
                {{article.content}}
            </div>
        </div>
    </div>
    <div class="list-group col-xs-3 pull-right">
        <a class="list-group-item active-ctrl" ng-click="articleChange(l)" ng-repeat="l in list">
            {{l.title}}
        </a>
    </div>
</div>